{% extends 'base.html.twig' %}

{% block title %}Editer une marque{% endblock %}

{% block body %}
	<div class="container">
		<h1>Editer une marque</h1>

		{{form_start(form, {'attr':{'novalidate':'novalidate'}})}}
			{{form_widget(form)}}

			<button class="btn btn-primary">
				Sauvegarder
			</button>
		{{form_end(form)}}
	</div>
{% endblock %}
