{% extends 'base.html.twig' %}

{% block title %}Marque{% endblock %}

{% block body %}
	<div class="container">

		<a href="{{ path("brands") }}">
			Retour
		</a>
		<h1>{{ brand.name }}</h1>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>Id</td>
					<td>{{ brand.id }}</td>
				</tr>
				<tr>
					<td>Nom</td>
					<td>{{ brand.name }}</td>
				</tr>
				<tr>
					<td>Pays</td>
					<td>{{ brand.country }}</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
