{% extends 'base.html.twig' %}

{% block title %}Ajouter une voiture{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ajouter une voiture</h1>

		{{form_start(form)}}
		<div class="row">
			<div class="col-6">
				{{form_row(form.name)}}
				{{form_row(form.price)}}
				{{form_row(form.fuel)}}
				{{form_row(form.gearbox)}}
			</div>
			<div class="col-6">
				{{form_row(form.fiscal_power)}}
				{{form_row(form.engine)}}
				{{form_row(form.brand)}}
				<button class="btn btn-primary">
					Sauvegarder
				</button>
			</div>

		</div>
		{{form_end(form)}}
	</div>
{% endblock %}
