{% extends 'base.html.twig' %}

{% block title %}Voitures{% endblock %}

{% block body %}
	<div class="container">
		<h1>Voitures</h1>
		<table class="table table-striped">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th>Marque</th>
				<th></th>
				<th></th>
			</thead>
		    <tbody>
			{% for car in cars %}
		    	<tr>
		    		<td>{{ car.id }}</td>
		    		<td>{{ car.name }}</td>
		    		<td>{{ car.brand.name }}</td>
		    		<td>
		    			<a href="{{ path("cars_view", {id: car.id}) }}" class="btn btn-primary">
		    				Voir
		    			</a>
		    		</td>
		    		<td>
		    			<a href="{{ path("cars_remove", {id: car.id}) }}" class="btn btn-danger">
		    				Supprimer
		    			</a>
		    		</td>
		    	</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}