{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
	<div class="container">

		<a href="{{ path("cars") }}">
			Retour
		</a>
		<h1>{{ car.name }}</h1>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>Id</td>
					<td>{{ car.id }}</td>
				</tr>
				<tr>
					<td>Price</td>
					<td>{{ car.price }}</td>
				</tr>
				<tr>
					<td>Nom</td>
					<td>{{ car.name }}</td>
				</tr>
				<tr>
					<td>Fuel</td>
					<td>{{ car.fuel }}</td>
				</tr>
				<tr>
					<td>Boîte :</td>
					<td>
						{% if car.gearbox %}
							Boite manuelle
						{% else %}
						    Boite auto
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
